$inputBorder = #ddd
$inputBorderDark = darken($inputBorder, 15%)

body,
html
  height 100%

body
  display flex
  font-family sans-serif
  margin 0

#generate-note
  flex 1 auto
  padding 20px

#notification-area
  background #eee
  box-shadow inset 3px 0 16px rgba(0, 0, 0, 0.2)
  padding 20px
  width 250px

// Form Styles
.form-control
  display flex
  margin-bottom 20px

  label
    color #444
    width 180px

  select,
  input,
  textarea
    border 1px solid
    box-sizing border-box
    padding 5px
    width 270px

  select
    background #fafafa
    border-color $inputBorder $inputBorderDark $inputBorderDark $inputBorder

  input,
  textarea
    border-color $inputBorderDark $inputBorder $inputBorder $inputBorderDark

form button
  background #0ad
  border 0
  box-sizing border-box
  color #fff
  cursor pointer
  margin-left 310px
  padding 7px
  width 140px

  &:hover
    background lighten(#0ad, 8%)

  &:active
    background darken(#0ad, 5%)

// Notification Styles
.sn-note
  box-shadow 1px 1px 16px rgba(0, 0, 0, 0.2)
  box-sizing border-box
  color #fff
  height 80px
  margin-bottom 20px
  padding 0 20px
  position relative

.sn-note-info
  background #0ad

.sn-note-success
  background #9b3

.sn-note-warn
  background #fa0

.sn-note-error
  background #e33

.sn-note-message
  display block
  position relative
  top 50%
  transform translateY(-50%)

.sn-loading
  height 42px
  position absolute
  right 20px
  top 20px
  width 42px

  &__bg
  &__spin
    stroke-opacity 0.2
    stroke #fff
    stroke-width 6px
  &__spin
    stroke-opacity 0.5
    transition stroke-dashoffset 2s linear
    &.infinite
      animation spinforever 2s linear infinite
      transform-origin center

@keyframes spinforever
  from
    transform rotate(0turn)
  to
    transform rotate(1turn)
